/****** Object:  Table [dbo].[State]    Script Date: 09/26/2013 00:47:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[State]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[State](
	[state] [nvarchar](3) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK_State] PRIMARY KEY CLUSTERED
(
	[state] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
INSERT [dbo].[State] ([state]) VALUES (N'ACT')
INSERT [dbo].[State] ([state]) VALUES (N'NSW')
INSERT [dbo].[State] ([state]) VALUES (N'NT')
/****** Object:  Table [dbo].[Customer]    Script Date: 09/26/2013 00:47:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Customer]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Customer](
	[customerID] [int] NOT NULL,
	[title] [nvarchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[firstName] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[lastName] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[gender] [nvarchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DOB] [date] NULL,
	[email] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[phone1] [nvarchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[phone2] [nvarchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[street1] [nvarchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[street2] [nvarchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[suburb] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[state] [nvarchar](3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[postcode] [nvarchar](4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED
(
	[customerID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
INSERT [dbo].[Customer] ([customerID], [title], [firstName], [lastName], [gender], [DOB], [email], [phone1], [phone2], [street1], [street2], [suburb], [state], [postcode]) VALUES (1, N'Ms', N'Cara', N'Rojas', N'F', CAST(0x24040B00 AS Date), N'crojas375@tpg.com.au', N'(02) 4778 5452', N'0424 677 626', N'', N'181 ONEY CIRCLE ', N'YELLOW ROCK', N'NSW', N'2527')
INSERT [dbo].[Customer] ([customerID], [title], [firstName], [lastName], [gender], [DOB], [email], [phone1], [phone2], [street1], [street2], [suburb], [state], [postcode]) VALUES (2, N'Sir', N'Isiah', N'Duke', N'M', CAST(0x17E30A00 AS Date), N'isiah.duke@optusnet.com.au', N'(02) 4239 9759', N'0416 858 673', N'', N'118 CAMEO COURT ', N'DONALD CREEK', N'NSW', N'2350')
INSERT [dbo].[Customer] ([customerID], [title], [firstName], [lastName], [gender], [DOB], [email], [phone1], [phone2], [street1], [street2], [suburb], [state], [postcode]) VALUES (3, N'Miss', N'Queen', N'Howe', N'F', CAST(0xED0E0B00 AS Date), N'queen.howe@tpg.com.au', N'(02) 4779 1377', N'0432 168 361', N'', N'25 MULDROW STREET ', N'MILVALE', N'NSW', N'2594')
/****** Object:  Table [dbo].[Staff]    Script Date: 09/26/2013 00:47:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Staff]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Staff](
	[staffID] [int] NOT NULL,
	[title] [nvarchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[firstName] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[lastName] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[gender] [nvarchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DOB] [date] NULL,
	[email] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[phone1] [nvarchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[phone2] [nvarchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[street1] [nvarchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[street2] [nvarchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[suburb] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[state] [nvarchar](3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[postcode] [nvarchar](4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[position] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED
(
	[staffID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
INSERT [dbo].[Staff] ([staffID], [title], [firstName], [lastName], [gender], [DOB], [email], [phone1], [phone2], [street1], [street2], [suburb], [state], [postcode], [position]) VALUES (1, N'Mr', N'Keith', N'Cabrade', N'M', CAST(0xADFD0A00 AS Date), N'keith@tickedoff.com.au', N'(02) 9912 8192', N'0401 982 389', N'', N'10 Cracked Rd', N'Avalon', N'NSW', N'2107', N'Manager')
INSERT [dbo].[Staff] ([staffID], [title], [firstName], [lastName], [gender], [DOB], [email], [phone1], [phone2], [street1], [street2], [suburb], [state], [postcode], [position]) VALUES (2, N'Ms', N'Savannah', N'Chartreux', N'F', CAST(0x3AF40A00 AS Date), N'savannah@tickedoff.com.au', N'(02) 8863 4123', N'0411 786 344', N'Unit 1', N'19 Serval St', N'Mona Vale', N'NSW', N'2103', N'Vet')
INSERT [dbo].[Staff] ([staffID], [title], [firstName], [lastName], [gender], [DOB], [email], [phone1], [phone2], [street1], [street2], [suburb], [state], [postcode], [position]) VALUES (3, N'Dr', N'Peter', N'Pug', N'M', CAST(0x54F30A00 AS Date), N'peter@tickedoff.com.au', N'', N'0401 298 128', N'', N'80 Panther Pl', N'Morisset', N'NSW', N'2264', N'Vet')
/****** Object:  Table [dbo].[Pet]    Script Date: 09/26/2013 00:47:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Pet]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Pet](
	[petID] [int] NOT NULL,
	[petName] [nvarchar](80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[species] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[breed] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DOB] [date] NULL,
	[gender] [nvarchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[weight] [float] NULL,
	[customerID] [int] NULL,
 CONSTRAINT [PK_Pet] PRIMARY KEY CLUSTERED
(
	[petID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
INSERT [dbo].[Pet] ([petID], [petName], [species], [breed], [DOB], [gender], [weight], [customerID]) VALUES (1, N'Nkala', N'Cat', N'DLH', CAST(0x1F340B00 AS Date), N'F', 3.6, 53)
INSERT [dbo].[Pet] ([petID], [petName], [species], [breed], [DOB], [gender], [weight], [customerID]) VALUES (2, N'Charlie', N'Cat', N'Burmese', CAST(0x2C270B00 AS Date), N'M', 4.3, 33)
INSERT [dbo].[Pet] ([petID], [petName], [species], [breed], [DOB], [gender], [weight], [customerID]) VALUES (3, N'Darky', N'Cat', N'DSH', CAST(0xAD330B00 AS Date), N'M', 6.8, 18)
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[Stay]    Script Date: 09/26/2013 00:47:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Stay]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Stay](
	[stayID] [int] NOT NULL,
	[stayStartDate] [date] NULL,
	[stayEndDate] [date] NULL,
	[petID] [int] NULL,
	[stayCost] [money] NULL,
 CONSTRAINT [PK_Stay] PRIMARY KEY CLUSTERED
(
	[stayID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
INSERT [dbo].[Stay] ([stayID], [stayStartDate], [stayEndDate], [petID], [stayCost]) VALUES (1, CAST(0x94360B00 AS Date), CAST(0x96360B00 AS Date), 56, 682.5000)
INSERT [dbo].[Stay] ([stayID], [stayStartDate], [stayEndDate], [petID], [stayCost]) VALUES (2, CAST(0x94360B00 AS Date), CAST(0x98360B00 AS Date), 97, 121.5000)
INSERT [dbo].[Stay] ([stayID], [stayStartDate], [stayEndDate], [petID], [stayCost]) VALUES (3, CAST(0x94360B00 AS Date), CAST(0x9B360B00 AS Date), 12, 222.0000)
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[Booking]    Script Date: 09/26/2013 00:47:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Booking]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Booking](
	[bookingID] [int] NOT NULL,
	[petID] [int] NULL,
	[staffID] [int] NULL,
	[bookingDateTime] [datetime] NULL,
	[symptoms] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[treatments] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[notes] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_Booking] PRIMARY KEY CLUSTERED
(
	[bookingID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
INSERT [dbo].[Booking] ([bookingID], [petID], [staffID], [bookingDateTime], [symptoms], [treatments], [notes]) VALUES (1, 84, 5, CAST(0x0000A0DB00DE7920 AS DateTime), N'hair loss', N'give a "good boy"', N'')
INSERT [dbo].[Booking] ([bookingID], [petID], [staffID], [bookingDateTime], [symptoms], [treatments], [notes]) VALUES (2, 84, 2, CAST(0x00009EB201038D50 AS DateTime), N'excessive tiredness', N'meditation', N'See again in 2 months')
INSERT [dbo].[Booking] ([bookingID], [petID], [staffID], [bookingDateTime], [symptoms], [treatments], [notes]) VALUES (3, 97, 5, CAST(0x00009EBA00CDFE60 AS DateTime), N'', N'Routine vaccination', N'')
GO
print 'Processed 100 total records'
/****** Object:  ForeignKey [FK_Booking_Pet]    Script Date: 09/26/2013 00:47:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Booking_Pet]') AND parent_object_id = OBJECT_ID(N'[dbo].[Booking]'))
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Pet] FOREIGN KEY([petID])
REFERENCES [dbo].[Pet] ([petID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Booking_Pet]') AND parent_object_id = OBJECT_ID(N'[dbo].[Booking]'))
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Pet]
GO
/****** Object:  ForeignKey [FK_Booking_Staff]    Script Date: 09/26/2013 00:47:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Booking_Staff]') AND parent_object_id = OBJECT_ID(N'[dbo].[Booking]'))
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Staff] FOREIGN KEY([staffID])
REFERENCES [dbo].[Staff] ([staffID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Booking_Staff]') AND parent_object_id = OBJECT_ID(N'[dbo].[Booking]'))
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Staff]
GO
/****** Object:  ForeignKey [FK_Customer_State]    Script Date: 09/26/2013 00:47:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Customer_State]') AND parent_object_id = OBJECT_ID(N'[dbo].[Customer]'))
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_State] FOREIGN KEY([state])
REFERENCES [dbo].[State] ([state])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Customer_State]') AND parent_object_id = OBJECT_ID(N'[dbo].[Customer]'))
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_State]
GO
/****** Object:  ForeignKey [FK_Pet_Customer]    Script Date: 09/26/2013 00:47:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Pet_Customer]') AND parent_object_id = OBJECT_ID(N'[dbo].[Pet]'))
ALTER TABLE [dbo].[Pet]  WITH CHECK ADD  CONSTRAINT [FK_Pet_Customer] FOREIGN KEY([customerID])
REFERENCES [dbo].[Customer] ([customerID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Pet_Customer]') AND parent_object_id = OBJECT_ID(N'[dbo].[Pet]'))
ALTER TABLE [dbo].[Pet] CHECK CONSTRAINT [FK_Pet_Customer]
GO
/****** Object:  ForeignKey [FK_Staff_State]    Script Date: 09/26/2013 00:47:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Staff_State]') AND parent_object_id = OBJECT_ID(N'[dbo].[Staff]'))
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_State] FOREIGN KEY([state])
REFERENCES [dbo].[State] ([state])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Staff_State]') AND parent_object_id = OBJECT_ID(N'[dbo].[Staff]'))
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_State]
GO
/****** Object:  ForeignKey [FK_Stay_Pet]    Script Date: 09/26/2013 00:47:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Stay_Pet]') AND parent_object_id = OBJECT_ID(N'[dbo].[Stay]'))
ALTER TABLE [dbo].[Stay]  WITH CHECK ADD  CONSTRAINT [FK_Stay_Pet] FOREIGN KEY([petID])
REFERENCES [dbo].[Pet] ([petID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Stay_Pet]') AND parent_object_id = OBJECT_ID(N'[dbo].[Stay]'))
ALTER TABLE [dbo].[Stay] CHECK CONSTRAINT [FK_Stay_Pet]
GO
